# .gitignore - Git 版本控制忽略文件
# ============ 基础 .ignore 目录 ============
# ---- 开发时文档 ----
.idea
.docs
.vscode
.cursor
.claude
CLAUDE.md

# ---- 开发时数据 ----
.eslintcache
*.tsbuildinfo

# ---- 运行时配置 ----
.env
.env.*

# ---- 构建产物与依赖包 ----
dist/bundle.js.map
node_modules/

# ---- 参考项目 ----
references
